<% members.each do |member| %>
  <%- user = member.user %>
  <tr>
    <td>
      <img src="<%= avatar_url(user) %>" height: "32px" width: "32px">
    </td>
    <td><%= user.id %></td>
    <td>
      <% unless(user.active?(current_organization)) %>
        <span class="glyphicon glyphicon-time"></span>
      <% end %> 
      <a href="<%= user_path(user) %>"><%= user.username %></a>
    </td>
    <td>
      <% if(user.unconfirmed_email) %>
        <a href="mailto:<%=user.unconfirmed_email%>">
          <%= user.unconfirmed_email %>
        </a>      
      <% else %>
        <a href="mailto:<%=user.email%>">
          <%= user.email %>
        </a>
      <% end %>
    </td>
    <td>
      <%= user.phone %>
    </td>
    <td>
      <%= user.alt_phone %>
    </td>
    <td>
      <%= seconds_to_hm member.account_balance.to_i %>
    </td>
    <% if current_user.manages?(current_organization) %>
      <td class="hover-actions">
        <%= link_to edit_user_path(user), class: "action" do %>
          <%= glyph(:pencil) %>
          <%= t("global.edit") %>
        <% end %>

        <% if member.active? %>
          <% if member.manager %>
            <% if user != current_user %>
              <%= link_to toggle_manager_member_path(member), method: :put, class: "action" do %>
                <%= glyph :arrow_down %>
                <%= t "global.demote" %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to toggle_manager_member_path(member), method: :put, class: "action" do %>
              <%= glyph :arrow_up %>
              <%= t "global.promote" %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to user_path(user), method: :delete, class: "action" do %>
            <%= glyph :ban_circle %>
            <%= t "global.cancel_membership" %>
          <% end %>
        <% end %>

        <%= link_to toggle_active_member_path(member), method: :put, class: "action" do %>
          <% if member.active? %>
            <%= glyph :remove %>
            <%= t ".deactivate" %>
          <% else %>
            <%= glyph :ok %>
            <%= t ".activate" %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>